<h1> You have been banned or are not supposed to access this page.  </h1>
<h3> Please check back later to see if your account has been restored. </h3>
<%= link_to "Sign out", destroy_customer_session_path, method: :delete %>