<h1>Web18-17</h1>

<ol><li><h3><%= link_to "PSet 1", "http://localhost:3000/ps1/index" %></h3></li>
    <li><h3><%= link_to "PSet 2", "http://localhost:3000/ps2/index" %></h3>
    <li><h3><%= link_to "PSet 3", "http://localhost:3000/ps3/index" %></h3>

</ol>
