<h1>Web18-17</h1>

<ol><li><h3><%= link_to "PSet 1", "http://web17.cs.ait.ac.th/ps1/index" %></h3></li>
    <li><h3><%= link_to "PSet 2", "http://web17.cs.ait.ac.th/index" %></h3>
    <li><h3><%= link_to "PSet 3", "http://web17.cs.ait.ac.th/index" %></h3>

</ol>
