<h1>PS1#Basics</h1>


<li><ul><h2><%= link_to "Divide", "http://web17.cs.ait.ac.th/ps1/divide" %></h2><li><ul>Here we generate divide by 0 error and print the stack trace.</ul>
<li><ul>Error is logged in the production log file of rails each time this page is executed. Enabled local error logging in production mode to show the complete error to see the log for the same.</ul></li></ul></li></li>

<li><ul><h2><%= link_to "Google News", "http://web17.cs.ait.ac.th/ps1/news" %></h2><li><ul>Retrieve title links and thumbnails from Google News.</ul>
<li><ul>We use Nokogiri which is a HTML/XML parsing tool that retrieves the content from the Google News website. We then display it on our page in two categories, namely: Main headlines and World News.</ul></li></ul></li></li>



