<h1>ProblemSet3#Index</h1>

<h2> Project Idea </h2>

<li><ul><h3><%= link_to "Project Planning Document", "https://docs.google.com/document/d/1mIc0bqyBybE0gP6ernum6crR8E3zOTNj_Wrl3cqzKz4/edit?usp=sharing" %></h3><li><ul>Various questions asked in the document are answered in the document.</ul></li></ul></li></li>

<h2> Project Tracker, Issue Tracker and others </h2>
<li><ul><h3><%= link_to "Trello", "https://trello.com/b/V7d0Dsly/web18-17" %></h3><li><ul>Trello boards are used as the issue tracker for keeping track of things to do/fix. </ul></li></ul></li></li>
<li><ul><h3>Capistrano</h3><li><ul>Automatic deployment is to be done through this.  </ul></li></ul></li></li>
<li><ul><h3><%= link_to "Jenkins", "http://web15.cs.ait.ac.th/jenkins" %></h3><li><ul>Since this installation of Rails is on a shared server, we use the same installation of jenkins but with a different pipeline. </ul></li></ul></li></li>
<li><ul><h3>Cronjob for DB backup</h3><li><ul>Daily backups at /var/local/backup/postgres/postgres_all2.sql.gz </ul></li></ul></li></li>